* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin:0;
    font:14px "Lucida Grande",Helvetica,Arial,sans-serif
}
nav{
    padding:0 30px;
    background-color: #000000;
}
nav ul{
    float:left
}
nav .avatar{
    float:right;
    height:50px;
    width:50px;
    margin-top:8px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;border-radius:100%
}
nav .avatar a{
    position:relative;display:block;width:100%;height:100%
}




.wrap{
    position:relative;
    width:100%;
    max-width:1140px;
    margin:auto
}
.row{
    width:100%;
    position:relative
}
.row:after,.cl:after{
    content:'';
    display:block;
    clear:both
}
