<% include header.ejs %>
<main>
  <div class="row">
    <div class="wrap">
      <h1><%= title %></h1>
      <p class="flow-text">Welcome to <%= name %>'s experimental site</p>
      <blockquote><p>Connect with me <a target="_blank" href="mailto:<%= email %>"><%= email %></a></p></blockquote>
    </div>
  </div>
</main>
<% include footer.ejs %>
